# **Upload the Client input file and ML model**

# **Client file Analysis**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('houseclientinput.csv')
df

   area  bedroom  age
0  3200        3    3
1  3500        4    4
2  3700        3    2
3  4200        4    4
4  4500        4    3
5  5000        4    2

# **Activate the ML model**

In [3]:
import pickle
with open('/content/housepricemodel', 'rb') as f:
  reg = pickle.load(f)

In [7]:
pricedf = reg.predict(df)
pricedf

array([14218043.10242716, 15967957.32612165, 16155702.56051256,
       18078433.48110726, 19413099.75205391, 21350759.21013931])

In [9]:
df.to_csv('Predicted Price.csv', index = False)